<div class="container mt-4" >
  <div *ngIf="primerComida">
    <div>
      <h3> Almuerzo: {{ primerComida.comidaId.nombre }}</h3>
    </div>
      
      <p>Receta: {{ primerComida.comidaId.receta }}</p>
      <p>Categoría: {{ primerComida.comidaId.categoria.descripcion }}</p>
  </div>
    
    <h5>Ingredientes :  </h5>
    <div *ngFor="let comida of comidas ">
      <h5>{{comida.ingredienteId.descripcion}} cantidad: {{comida.cantidad + " " + comida.ingredienteId.unidad_de_medidas}}</h5>
    </div>
    
    <button type="button" class="btn btn-primary" (click)="EditarDetalles(primerComida?.comidaId?.id)">Editar Detalles</button>
</div>